.filterprop{
display:  flex;
justify-content: space-around;
align-items: center;
padding: 10px;
width: 100%;
}
.sliderProp {
    position: relative;
}

.filtercontent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.btn{
    padding: 10px;
    font-size: 1.4em;
    border-radius: 12px;
    background-color: inherit;
    color: goldenrod;
    border: 1px solid goldenrod; 
}

.btn:hover{
    color: white;
    background-color: goldenrod;
}