.navbar{
    color: white;
    font-size: 1.5em;
 
    width: 100%;
}

.navbar li{
    list-style: none;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
